 {% extends '::base.html.twig' %}

 {% block body %}
     {% if app.session.started %}
         {% for flashMessage in app.session.flashbag.get('notice') %}
             <div class="flash-notice">
                 {{ flashMessage }}
             </div>
         {% endfor %}
     {% endif %}
    Users' Index
 {% endblock %}

