<noscript><!-- if javascript is turned off -->
    <div class="row">
        <div class="span10 offset1">
            {#<meta http-equiv="refresh" content="1;url=js_error.html">#}
            <div class="alert alert-error">
                <p>Javascript is disabled in your browser.</p>

                <p>Please, turn on Javascript and click continue or use a different browser to use this app.</p>
                <p><a href="#">Continue</a></p>
            </div>
        </div>
    </div>
</noscript>