{% extends 'Panda86AppBundle::guest-pform-centred-view.html.twig' %}

{% block stylesheet %}{{ parent() }}{% endblock %}
{% block content %}
    <form class="appnitro form-horizontal">
        {% block table %}{% endblock %}
    </form>
{% endblock %}
