{% extends '::admin-app.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="/assets/DataTables/dataTables.css">
    {% endblock %}
{% block body %}
    <div class="row">
        <div class="span10 offset1">
            <h2>{{ heading }}</h2>
            <table class="table table-striped">
                {% block table %}{% endblock %}
            </table>
            <p>
                <a class="btn btn-success" href="{{ newBtn_url }}"><strong>+</strong> New</a>
            </p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
