{% extends '::admin-app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <br/>
    <div class="row">
        <div class="span10 offset1">
            <h3>{{ heading }}</h3>
            <br/>
            {% block table %}
                <p>
                    <a class="btn btn-success" href="{{ newBtn_url }}"><strong>+</strong> New</a>
                </p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
