{% extends '::admin-app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        [class*="span"].centred {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
    </style>
    <link rel="stylesheet" href="/assets/pform/view.css">
{% endblock %}

{% block body -%}
    <div class="row" ng-controller="formController">
        <div class="span9 centred">
            <img class="hidden-print" id="top" src="/assets/pform/top.png" alt="">
            <div id="form_container">
                <div id="close" class="pull-right hidden-print">
                    <a class="btn btn-danger" href="{{ closeBtn_url }}">X</a>
                </div>
                <h1>Header</h1>
                {%  block content %}{% endblock %}
                <br/>
                <div id="form_footer">
                    <a href="http://www.icta.lk">&copy; ICTA {{ '' | date('Y') }}</a>
                </div>
            </div>
            <img class="hidden-print" id="bottom" src="/assets/pform/bottom.png" alt="">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
