{% extends '::admin-app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        [class*="span"].centred {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
        .form-required {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="/assets/pform/new.css">
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="span9 centred">
            <img id="top" src="/assets/pform/top.png" alt="">
            <div id="form_container">
                <div id="close" class="pull-right">
                    <a class="btn btn-danger" href="{{ closeBtn_url }}">X</a>
                </div>
                <h1>Header</h1>
                {%  block content %}{% endblock %}
                <div id="form_footer">
                    <a href="http://www.icta.lk">ICTA | &copy 2013</a>
                </div>
            </div>
            <img id="bottom" src="/assets/pform/bottom.png" alt="">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/app/js/common/forms.js"></script>
{% endblock %}
