{% extends '::app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        [class*="span"].centred {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
        .f-required {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="/assets/chosen/chosen.min.css">
    <link rel="stylesheet" href="/assets/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/pform/new.css">
    <link rel="stylesheet" href="/app/css/common/forms.css">
{% endblock %}

{% block body -%}
    <div class="row" ng-controller="newController">
        <div class="span9 centred">
            <img id="top" src="/assets/pform/top.png" alt="">
            <div id="form_container">
                <div id="closeDiv" class="pull-right">
                    <a id="closeBtn" href="{{ closeBtn_url }}" data-original-title="A Title" class="btn btn-danger" data-toggle="popover" title="" data-content="And here's some amazing content. It's very engaging. right?">X</a>
                </div>
                <h1>Header</h1>
                {%  block form %}{% endblock %}
                <div id="form_footer">
                    <a class="offset1" href="http://www.icta.lk">&copy; ICTA {{ '' | date('Y') }}</a>
                </div>
            </div>
            <img id="bottom" src="/assets/pform/bottom.png" alt="">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/assets/chosen/chosen.jquery.min.js"></script>
    <script src="/assets/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/jquery.validate.js"></script>
    <script src="/app/js/request/newInit.js"></script>
    <script src="/app/js/request/new.js"></script>
    <script src="/app/js/request/newController.js"></script>
{% endblock %}