body {
    background:#CDDCEC;
}
#main-container {
    background-color: #FFF;
    padding: 40px 40px;

}
#top {
    display:block;
    height:10px;
    margin:0 auto;
}
#bottom {
    display:block;
    height:10px;
    margin:0 auto;
}