<p>Dear {{ request.owner }},</p>

<p>
    Your request for vehicle with the reference no. #{{ request.id }} has been approved.
    To view details about your request please click on the link below.
</p>
<p><a href="#">View request details</a></p>

<p>Your assigned vehicle is {{ request.vehicle.reg_no }}. Your assigned driver is Mr. {{ request.driver.display_name }}</p>
<br/>
<p>Thanks,</p>
<p>Support Team at ICTA</p>
