<p>Dear {{ entity.requester.name }},</p>

<p>
    Please kindly note that your vehicle request with the request reference no. #{{ entity.request.id }} has been
    disapproved due to unavailability of a vehicle.
</p>
<p><a href="#">View request details</a></p>
<p>If you like our further assistance regarding your request please call us on our extension no.</p>
<br/>
<p>Thanks.</p>
<p>Support Team at ICTA</p>
