{% extends '::admin-app.html.twig' %}

{% block body -%}
    <h1>ApprovedRequest creation</h1>

    <form novalidate action="{{ path('approve_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('request_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
