{% extends '::admin-app.html.twig' %}

{% block title %}
    {{ parent() }} - Reports
{% endblock %}

{% block body %}
    <h2>Reports page</h2>
    <br/>
    <p>
        Download links:
    </p>
    <ul>
        <li>
            <a href="{{ path('report_downloadcsv') }}">CSV</a>
        </li>
        <li>
            <a href="{{ path('report_downloadxls') }}">Excel</a>
        </li>
    </ul>
    <br/>
    <p>Query results:</p>
    <pre>{{ dump(results) }}</pre>
{% endblock %}