{% extends '::admin-app.html.twig' %}

{% block title %}
    {{ parent() }} - Reports
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h3>Reports page</h3>
    </div>
</div>
<br/>
<div class="row">
    <div class="span12">
        <form class="form-horizontal" action="{{ path('report_generate', {'type': 'cabs'}) }}" method="get">
            <fieldset>

                <!-- Form Name -->
                <legend>Set parameters</legend>

                <!--Options-->
                <div class="control-group">
                    <label class="control-label" for="options">Options</label>
                    <div class="controls">
                        <label class="radio" for="options-0">
                            <input name="options" id="options-0" value="All employees" checked="checked" type="radio">
                            All employees
                        </label>
                        <label class="radio" for="options-1">
                            <input name="options" id="options-1" value="per employee" type="radio">
                            per employee
                        </label>
                    </div>
                </div>
                <!--Filters-->
                <div class="control-group">
                    <label class="control-label" for="filters">Filters :</label>
                    <div class="controls">
                        <label class="checkbox" for="filters-0">
                            <input name="filters" id="filters-0" value="Cost for cabs" type="checkbox">
                            Cost for cabs
                        </label>
                        <label class="checkbox" for="filters-1">
                            <input name="filters" id="filters-1" value="Cost for accomodations" type="checkbox">
                            Cost for accomodations
                        </label>
                    </div>
                </div>
                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="singlebutton"></label>
                    <div class="controls">
                        <button id="singlebutton" name="singlebutton" class="btn btn-default">Generate report</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
<br/><hr/>
<div class="row">
    <div class="span12">
        <p>Query results:</p>
        <div id="results">
            {% if results is not null %}
                <table>
                    {% for row in results %}
                        <tr>
                            <td>
                                {{ row.getcab.getcabservice.getname }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
<style>
    #results {
        padding: 9.5px;
        margin: 0px 0px 10px;
        font-size: 13px;
        /*line-height: 20px;*/
        /*word-break: break-all;*/
        /*word-wrap: break-word;*/
        /*white-space: pre-wrap;*/

        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px 4px 4px 4px;
        background-color: rgb(245, 245, 245);

        font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
        color: rgb(51, 51, 51);
    }
</style>
{% endblock %}