{% extends '::app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/pform/start.css" rel="stylesheet"/>
    <link href="/app/css/request/start.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="row" ng-controller="formController">
        <div class="span12">
            <img id="top" src="/assets/pform/top.png" alt="">
            <div id="form_container">
                <h1>Header</h1>
                <form name="startForm" class="appnitro" ng-submit="submitForm();" action="{{ path('request_new') }}" method="post" novalidate>
                    <fieldset>
                        <legend>Request a vehicle reservation</legend>
                        <!--details -->
                        <p>1. Please select and fill out a form from below.</p>
                        <p>2. Company must approve the request.</p>
                        <p>3. Confirmation of the reservation will be notified to you by email.</p>
                        <!--/end details -->
                        <br/>
                        <label>No. of days <span style="color: red">*</span></label>
                        <input id="no_days" name="no_days" class="input-small"  type="number" min="1" max="60" placeholder="e.g. 1, 2, 3…" required ng-model="no_days">
                        <span class="ok inline">☑</span>
                        <span class="ko inline">☒</span>
                        <div class="custom-error" ng-show="startForm.no_days.$dirty && startForm.no_days.$invalid">
                            <span class="f-required" ng-show="startForm.no_days.$error.required">This field is required.</span>
                            <span class="f-required" ng-show="startForm.no_days.$error.min || startForm.no_days.$error.max">No. of days must be between 1 and 60.</span>
                        </div>
                        <span class="help-block">No. of days you wish to use the vehicle.</span>
                        <br/>
                        <input type="submit" ng-disabled="!startForm.no_days.$valid" class="btn" value="Show request form"/>
                    </fieldset>
                </form>
                <div id="footer">
                    <a href="http://www.icta.lk">&copy; ICTA {{ '' | date('Y') }}</a>
                </div>
            </div>
            <img id="bottom" src="/assets/pform/bottom.png" alt="">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/jquery.validate.js"></script>
    <script src="/app/js/request/start.js"></script>
{% endblock %}